<h3>Enter Truck Details</h3>
<di>
<p>Name<span><input type="text" ng-model="name"></span></p>
    <p>Model<span><input type="text" ng-model="model"></span></p>
    <p>Company<span><input type="text" ng-model="company"></span></p>
    <p>WeightCapacity<span><input type="text" ng-model="yom"></span></p>
<input type="button" ng-click="add()" value="Add"
</di>