<h3>Car Details</h3>
<hr>
<p>Name :<span ng-bind="carsData.name"></span></p>
<p>Model :<span ng-bind="carsData.model"></span></p>
<p>company :<span ng-bind="carsData.company"></span></p>
<p>yearofmanufacturing :<span ng-bind="carsData.yearofmanufacturing"></span></p>

