<h3>Truck Details</h3>
<hr>
<p>Name :<span ng-bind="truckData.name"></span></p>
<p>Model :<span ng-bind="truckData.model"></span></p>
<p>company :<span ng-bind="truckData.company"></span></p>
<p>weightcapacity :<span ng-bind="truckData.weightcapacity"></span></p>